<section id='<%= element.name %>'>
  <h2 class="text-2xl"><%= element.name.capitalize %></h2>
  <div class="element-preview">
    <%= element.html.html_safe %>
  </div>
  <div class="card-code">
    <div class="card-code-header">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-html-tab" data-bs-toggle="tab" data-bs-target='#<%= element.name.parameterize %>-html' type="button" role="tab" aria-controls="nav-html" aria-selected="true">HTML</button>
          <button class="nav-link" id="nav-css-tab" data-bs-toggle="tab" data-bs-target='#<%= element.name.parameterize %>-css' type="button" role="tab" aria-controls="nav-css" aria-selected="false">CSS</button>
        </div>
      </nav>
      <div class="card-code-body tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id='<%= element.name.parameterize %>-html' role="tabpanel" aria-labelledby="nav-html-tab">
          <pre>
            <code class="language-html">
<%= element.html %>
            </code>
          </pre>
        </div>
        <div class="tab-pane fade" id='<%= element.name.parameterize %>-css' role="tabpanel" aria-labelledby="nav-css-tab">
          <pre>
            <code class="language-css">
<%= element.css %>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</section>